nav {
    box-sizing: content-box;
    width: 28em;
    margin: 2em 10px 1em 10px;
    display: inline-flex;
}

.game-container {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.title {
    text-align:center;
    font-size: 2em;
    line-height: 2.2em;
    margin: 0;
}

article {
    display: block;
    position: static;
}

.d-none {
    display: none;
}

.blue-button {
    margin: 0;
    height: 2.5em;
    aspect-ratio: 1 / 1;
    background-color: #00a6ed;
    border-radius: 4px;
    box-shadow: 0 0 4px grey;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: initial;
}

.arrow{
    color: white;
    font-size: 1.5em;
}

button {
    background-color: yellow;
    padding: 0.5em 0.75em;
    border: none;
    box-shadow: 0 0 3px 0 grey;
    border-radius: 4px;
    font-size: small;
    margin: 1em;
}

button:hover, .blue-button:hover {
    box-shadow: 0 0 7px 0 grey;
}

button:active {
    background-color: gold;
}

.blue-button-container {
    width: 4em;
    display:flex;
    justify-content: center;
}

.align-center {
    text-align:center;
}

.drop-button:hover {
    cursor: default;
}

div {
    position: relative
}

    div.board {
        box-sizing: content-box;
        margin: 0 auto;
        flex-wrap: wrap;
        width: 28em;
        height: 24em;
        overflow: hidden;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        z-index: -5;
        row-gap: 0;
        pointer-events: none;
        border: 10px solid var(--board-bg);
        box-shadow: 0 3px 5px grey;
    }

span.container {
    width: 4em;
    height: 4em;
    margin: 0;
    overflow: hidden;
    background-color: transparent;
    position: relative;
    z-index: -2;
    pointer-events: none;
}

.container span.hole {
    display: block;
    width: 3.5em;
    height: 3.5em;
    z-index: 5;
    left: 0.25em;
    top: 0.25em;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 0 3em var(--board-bg);
    pointer-events: none;
}

.hole-shadow {
    display:block;
    height: 3.5em;
    width: 3.5em;
    z-index: -6;
    background-color:transparent;
    border-radius: 50%;
    box-shadow: 0 0 5px gray inset
}


.player1, .player2 {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    z-index: -8
}

.player1 {
    background-color: var(--player1);
    animation-timing-function: cubic-bezier(.5,.05,1,.5);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: 0 0 0 4px var(--player1)
}

.player2 {
    background-color: var(--player2);
    animation-timing-function: cubic-bezier(.5,.05,1,.5);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: 0 0 0 4px var(--player2)
}

.col0 {
    left: calc(0em + 0.25em)
}

.col1 {
    left: calc(4em + 0.25em)
}

.col2 {
    left: calc(8em + 0.25em)
}

.col3 {
    left: calc(12em + 0.25em)
}

.col4 {
    left: calc(16em + 0.25em)
}

.col5 {
    left: calc(20em + 0.25em)
}

.col6 {
    left: calc(24em + 0.25em)
}

.drop1 {
    animation-duration: 1s;
    animation-name: drop1
}

.drop2 {
    animation-duration: 1.5s;
    animation-name: drop2
}

.drop3 {
    animation-duration: 1.6s;
    animation-name: drop3
}

.drop4 {
    animation-duration: 1.7s;
    animation-name: drop4
}

.drop5 {
    animation-duration: 1.8s;
    animation-name: drop5
}

.drop6 {
    animation-duration: 1.9s;
    animation-name: drop6
}

@keyframes drop1 {
    100%,75%,90%,97% {
        transform: translateY(0.27em)
    }

    80% {
        transform: translateY(.4em)
    }

    95% {
        transform: translateY(.8em)
    }

    99% {
        transform: translateY(1em)
    }
}

@keyframes drop2 {
    100%,75%,90%,97% {
        transform: translateY(4.27em)
    }

    80% {
        transform: translateY(3.8em)
    }

    95% {
        transform: translateY(4.6em)
    }

    99% {
        transform: translateY(4.9em)
    }
}

@keyframes drop3 {
    100%,75%,90%,97% {
        transform: translateY(8.27em)
    }

    80% {
        transform: translateY(7.2em)
    }

    95% {
        transform: translateY(8.3em)
    }

    99% {
        transform: translateY(8.8em)
    }
}

@keyframes drop4 {
    100%,75%,90%,97% {
        transform: translateY(12.27em)
    }

    80% {
        transform: translateY(10.6em)
    }

    95% {
        transform: translateY(12em)
    }

    99% {
        transform: translateY(12.7em)
    }
}

@keyframes drop5 {
    100%,75%,90%,97% {
        transform: translateY(16.27em)
    }

    80% {
        transform: translateY(14em)
    }

    95% {
        transform: translateY(15.7em)
    }

    99% {
        transform: translateY(16.5em)
    }
}

@keyframes drop6 {
    100%,75%,90%,97% {
        transform: translateY(20.27em)
    }

    80% {
        transform: translateY(17.4em)
    }

    95% {
        transform: translateY(19.4em)
    }

    99% {
        transform: translateY(20.4em)
    }
}